body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    z-index: -1;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#videoPlayer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: auto;
    object-fit: cover;
    z-index: 1;
}

#playPauseButton {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    z-index: 2;
}

/* 设置导航栏的样式 */
nav {
    background-color: #333;
    overflow: hidden;
}
 
nav ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* 使用flexbox布局使标签水平排列 */
}
 
nav ul.navbar li {
    margin: 0;
}
 
nav ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
 
nav ul.navbar li a:hover {
    background-color: #ddd; /* 当鼠标悬停在标签上时改变背景颜色 */
    color: black; /* 同时改变文本颜色 */
}
 
/* 设置内容区域的样式 */
#content {
    padding: 20px;
}